::-webkit-scrollbar {
    width: 10px;
  }

//gif file link  https://classroom.codingninjas.com/assets-app/images/doubt-posted.gif  
main{
    width: 100%;
    height: 100%;
    background-image: url(https://files.codingninjas.com/circut-9740.png), linear-gradient(rgb(3, 45, 107), rgb(3, 45, 107)), linear-gradient(to left bottom, rgb(3, 45, 107) 50%, rgb(250, 247, 242) 0px), linear-gradient(to right bottom, rgb(3, 45, 107) 50%, rgb(250, 247, 242) 0px);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    #add-btn{
        width:80%;
        display: flex;
        align-items: center;
        flex-direction: column;
        height: auto;
        position: relative;
        p{
            a{
                background-color: #f96b24;
                color: white;
                font-family:Verdana, Geneva, Tahoma, sans-serif;
            }
        }
        .form-data{
            width: 97%;
            #form-box{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                form{
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    #student-info{
                        width: 50%;
            
                        .common{
                            display: flex;
                            flex-direction: row;
                           
                            padding: 5px;
                            label{
                                width:100px;
                                min-width: 80px;
                                font-family:Verdana, Geneva, Tahoma, sans-serif;
                            }
                            
                            
                        }
                    }
                    #student-skills{
                        width: 50%;
               
                        .common{
                            display: flex;
                            flex-direction: row;
                            padding: 5px;
                            
                            label{
                                width:100px;
                                min-width: 80px;
                                font-family:Verdana, Geneva, Tahoma, sans-serif;
                            }
                            button{
                                width:auto;
                                height: 40px;
                                border-radius: 5px;
                                background-color: green;
                                color: white;
                                border: none;
                                margin-left: 25%;
                                margin-top: 10px;
                                font-family:Verdana, Geneva, Tahoma, sans-serif;
                            }
                            
                            
                        }
                    }
                     
                }
                
                
            }
            
        }
    }    
    .students{
        width:80%;
        height: 80%;
        overflow: scroll;
        overflow-x: hidden;
        scroll-behavior: smooth;
        margin-top: 20px;
        .accordion{
            .accordion-item{
                .accordion-header{
                    .accordion-button{
                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        font-size: 1.2rem;
                        font-weight: 500;
                        color: #3b2727;
                    }
                }
                .accordion-collapse{
                    .accordion-body{
                        display: flex;
                        flex-direction: column;
                        #details{
                            width:100%;
    
                            p{
                                font-family: Verdana, Geneva, Tahoma, sans-serif;
                                margin: 2px;
                            }
                        }
                        #score-card{
                            width:100%;
                            display: flex;
                    
                            flex-direction: column;
                            row-gap: 10px;
                           // border: 1px solid red;
                            align-items: center;
                            
                            #score-text{
                                width:100%;
                                //border: 1px solid red;
                                p{
                                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                                    margin: 2px; 
                                }
                            }
                            #course{
                                width:90%;
                                display: flex;
                                justify-content: space-evenly;
                                align-items: center;
                                flex-direction: row;
                                flex-wrap: wrap;
                             
                                #dsa, #web, #react{
                                    width:auto;
                                    
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    flex-direction: column;

                                    .text{
                                        width: auto;
                                        height: auto;
                                        text-align: center;
                                        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                                    }
    
                                    .skills-display {
                                        width: 90%;
                                        padding: 10px;
                                        display: flex;
                                        flex-wrap: wrap;
                                        justify-content: space-evenly;
                                    }
                                    
                                    .skill-progress {
                                        width: 11rem;
                                        height: 2.2rem;
                                        background-color: #F0F2F5;
                                        border-radius: 1rem;
                                        box-shadow: 1px 1px 2px 1px #F0F2F5 inset;
                                        margin: 25px;
                                        overflow: hidden;
                                        .m-blue {
                                            color: #2857a4;
                                        }
                                        
                                        .mb-blue {
                                            background-color: #2857a4;
                                        }
                                        
                                        .mb-orange {
                                            background-color: #ec4d1c;
                                        }
                                        
                                        .mb-teal {
                                            background-color: #0b8176;
                                        }
                                        
                                        .mb-light-purple {
                                            background-color: #93738c;
                                        }
                                        
                                        .fifty-percent {
                                            height: inherit;
                                            width: 50%;
                                            position: relative;
                                            .skill-name {
                                                width: 120px;
                                                position: absolute;
                                               // border: 1px solid red;
                                                top:0;
                                                text-align: center;
                                                span {
                                                    color: white;
                                                    font-size: 1.2rem;
                                                    font-weight: 600;
                                                }    
                                            }
                                        }
                                    }
                                    
                                    .skill-progress > div {
                                        border-radius: 20px 0px 0px 20px;
                                        box-shadow: 1px 1px 5px 2px #F0F2F5;
                                    }
                                    
                                    .skill-name span {
                                        color: white;
                                        font-size: 1rem;
                                        margin-left: 10px;
                                        vertical-align: middle;
                                    }

                                }                               
                            }
    
                        }
                        #info{
                            width:100%;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            align-items: center;
                            flex-wrap: wrap;
                            margin-top: 10px;
                            #status{
                                width:auto;
                                height: auto;
                                display:flex ;
                                flex-direction: row;
                                column-gap: 5px;
                          
                                #text1{
                                    text-align:center;
                                    margin-top: 10px;
                                   
                                }
                                #text2{
                                    margin-top: 15px;
                                    width: 80px;
                                    text-align: center; 
                                    background-color:#e6ffe6 ; 
                                    color:#37833b;
                                    font-family: Mulish, Roboto, "Helvetica Neue", sans-serif;;
                                    font-weight: 600;
                                    font-size: 14px;
                                }
                                #text3{
                                    margin-top: 15px;
                                    width: 80px;
                                    text-align: center; 
                                    background-color:#ffe6e6 ;
                                    color:#ff4d4d;
                                    font-family: Mulish, Roboto, "Helvetica Neue", sans-serif;;
                                    font-weight: 600;
                                    font-size: 14px;
                                }
                            }
                            #total-interviews{
                                width: 130px;
                                height: 42px;
                                background-color:#DEF6FC ;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                span{
                                    color: #49ADC5;
                                    font-family: Mulish, Roboto, "Helvetica Neue", sans-serif;;
                                    font-weight: 600;
                                    font-size: 14px;
                                }
                            }
                            #interview{
                                width: auto; 
                                height: 42px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                button{
                                    width:auto;
                                    height: 42px;
                                    border-radius: 5px;
                                    background-color: green;
                                    color: white;
                                    border: none;
                                    font-family:Verdana, Geneva, Tahoma, sans-serif;
                                }            

                            }
                        }
                        
                    }
                        
                }
            }
        }
    }
    

}



@media screen and (max-width:825px) {
    main #add-btn .form-data #form-box form{
        flex-direction: column;
        align-items: center;
        #student-skills, #student-info{
            width:70%;
        }
    }
}



@media screen and (max-width:605px) {
    main #add-btn .form-data #form-box form{
        #student-skills, #student-info{
            width:90%;
        }
    }
}

@media screen and (max-width:500px) {
    main #add-btn {
        width: 100%;
        margin-top: 10px;
    }
    main .students{
        width: 100%;
    }
   
    main #add-btn .form-data #form-box form{
        width: 100%;
    }
    main #add-btn .form-data #form-box form #student-info .common{
        flex-direction: column;
    }
    main #add-btn .form-data #form-box form #student-skills .common{
        flex-direction: column;
        button{
            width: 100%;
            margin-left:0px;
        }
    }
    main #add-btn .form-data #form-box form #student-info .common input{
        width:100%;
    }
    main #add-btn .form-data #form-box form #student-skills .common input{
        width:100%;
    }
    main .students .accordion .accordion-item .accordion-collapse .accordion-body #info{
        justify-content: flex-start;
        #interview{
            margin-top: 16px;
        }

        
    }
}