::-webkit-scrollbar {
    width: 10px;
  }
main{
    width: 100%;
    height: 100%;
    background-image: url(https://files.codingninjas.com/circut-9740.png), linear-gradient(rgb(3, 45, 107), rgb(3, 45, 107)), linear-gradient(to left bottom, rgb(3, 45, 107) 50%, rgb(250, 247, 242) 0px), linear-gradient(to right bottom, rgb(3, 45, 107) 50%, rgb(250, 247, 242) 0px);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    #add-btn{
        width:80%;
        display: flex;
        align-items: center;
        flex-direction: column;
        height: auto;
        position: relative;
        p{
            a{
                background-color: #f96b24;
                color: white;
                font-family:Verdana, Geneva, Tahoma, sans-serif;
            }
        }
        .form-data{
            width: 97%;
            #form-box{
                display: flex;
                justify-content: center;
                align-items: center;
                form{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    //border: 1px solid red;
                    #student-info{
                        width: 50%;
                        //border: 1px solid red;
                        .common{
                            display: flex;
                            flex-direction: row;
                            padding: 5px;
                            justify-content: center;
                            align-items: center;
                            //border: 1px solid red;
                            label{
                                width:40%;
                                font-family:Verdana, Geneva, Tahoma, sans-serif;
                                text-align: start;
                            } 
                            input{
                                width:40%;
                                font-family:Verdana, Geneva, Tahoma, sans-serif;
                            }
                            button{
                                width: 100px;;
                                height: 40px;
                                border-radius: 5px;
                                background-color: green;
                                color: white;
                                border: none;                             
                                margin-top: 10px;
                                font-family:Verdana, Geneva, Tahoma, sans-serif;
                            }
          
                        }
                    }
                }
                
            }
        }
    }    
    .jobs-box{
        width:80%;
        height: 80%;
        overflow: scroll;
        overflow-x: hidden;
        scroll-behavior: smooth;
        //border: 1px solid red;
        h1{
            color: white;
            text-align: left;
            font-size: 22px;
            margin-left: 10px;
           // background-color: beige;
            
        }
        .jobs-list{
            width:90%;
            height: auto;
            background-color: aliceblue;
            border-radius: 5px;
            margin: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 2px;
            .role{
                width: 98%;
                height: 60px;
                border: 1px solid red;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                #category{
                    width: auto;
                    height: 40px;
                    border: 1px solid red;
                    h3{
                        font-size: 1.5rem;
                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

                    }
                    
                }
                #time{
                    width: 150px;
                    height: 40px;
                    border: 1px solid red;
                    text-align: center;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                }
            }
            .company{
                width: 98%;
                height: 30px;
                border: 1px solid red;
                p{
                    color: gray;
                }
            }
            .location{
                width: 98%;
                height: 30px;
                border: 1px solid red;
                span{
                    color: gray;
                }
            }
            .requirement{
                width: 98%;
                height: 30px;
                border: 1px solid red;
                #react{
                    width: 80px;
                    background-color: #e6ffe6 ;
                    color: #37833b;
                    text-align: center;
                }
            }
            

        }
    }
    

}