<link rel="stylesheet" type="text/css" href="/css/header.css">

<header>
    <div id="logo">
        <a href="/">
            <img src="/images/camp.webp" width="120">
            <div id="hide"></div>
        </a>
    </div>
    <div id="log-out">
        <p><a>Log out</a></p>
    </div>
</header>
