<link rel="stylesheet" type="text/css" href="/css/header.css">

<header>
    <div id="logo">
        <a href="/">
            <img src="/images/camp.webp" >
            <div id="hide"></div>
        </a>
    </div>
    <% if(locals.user) { %>
        <div id="local">
            <p><%= locals.user.name %></p>
        </div>
        <div id="log-out">
            <form action="/destroy" method="post">
               <input type="submit" value="Log out"> 
            </form>
            
        </div>
    <% } %>
    
</header>
