

<link rel="stylesheet" type="text/css" href="/css/interview.css"> 

<main>
  <div id="interviews" >
    <div id="text-box">
      <h3>Upcoming interviews</h3>
    </div>
    
  </div>   
  <div id="fetch" data-id="<%= profile.id%>" data-dsa="<%= profile.dsa %>" data-web="<%= profile.web %>" data-react="<%= profile.react %>">
    <div id="fetch-btn">
    
        <button type="button" id="btn">view jobs</button>
     
    </div>
    <div id="all-jobs">
      

    </div>

  </div>
    
    
</main>
<script src="/js/fetch.js"></script>

