<link rel="stylesheet" type="text/css" href="/css/login.css">
<main>
    <div id="animate-image">
        <img src="/images/animated.webp">
    </div>
    <div id="login-box">
        <div id="login-form">
            <form action="/session" method="post">
                <input type="number" name="userId" placeholder="Employer id">
                <input type="password" name="password" placeholder="Employer password">
                <button type="submit">Login</button>
            </form>
            <p><a href="/Register">Register ?</a></p>
        </div>

    </div>
    
</main>