<link rel="stylesheet" type="text/css" href="/css/register.css">
<main>
    <div id="animate-image">
        <img src="/images/animated.webp">
    </div>
    <div id="login-box">
        <div id="login-form">
            <form action="/create" method="post">
                <input type="text" name="name" placeholder="Full name">
                <input type="number" name="userId" placeholder="Employer id">
                <input type="password" name="password" placeholder="Create password">
                <input type="password" name="confirmpass" placeholder="Confirm password">
                <button type="submit">Register</button>
            </form>
        </div>

    </div>
    
</main>